* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: bangers;
  src: url(./fuentes/Bangers.ttf);
}

body {
  background-color: #26bded;
}
.animator {
  background-color: #26bded;
}
nav {
  position: relative;
  z-index: 100;
}
a {
  font-family: bangers;
  src: url(./Bangers/Bangers.ttf);
  font-size: 24px;
}
.nav-link {
  color: antiquewhite;
  font-size: 30px;
}

.titulo-contacto {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
  z-index: 100;
}

.cont1 {
  position: relative;
  background-color: #6a6a6a;
  width: 100%;
  max-width: 820px;
  height: 400px;
  margin: auto;
  background-image: url(./img/joystick34.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.fo1 {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.lab1 {
  margin-top: 20px;
  font-weight: 600;
  color: aliceblue;
}
.inp1 {
  margin-top: 10px;
  pad: 5px;
  border: none;
  border-bottom: thin solid white;
  opacity: 0.5;
  color: black;
  border-radius: 10px;
  transition: 0.3 ease;
}
.inp1:hover {
  opacity: 1;
  background-color: rgba(247, 234, 234, 0.487);
}
.bt1 {
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  background: radial-gradient(
    ellipse,
    rgba(176, 174, 238, 1) 0%,
    rgba(29, 30, 31, 1)
  );
}

.foot-cont {
  width: 100%;
  height: 100%;
  max-height: 200px;

  background-color: #0093e9;
  background-image: linear-gradient(
    160deg,
    #0093e9 13%,
    #80d0bd 66%,
    #ffffff 100%
  );
}
.part1 {
  display: flex;
  justify-content: space-between;
}
article {
  width: 80%;
}
article > ul {
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
article > ul > li {
  padding: 5px 0px;
}
article > ul > li > a {
  color: black;
  text-decoration: none;
  list-style: none;
}
.copy {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  background-color: gray;
  margin: 0;
  padding: 0;
}

.animator span {
  position: absolute;
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: 0.9s;
}
