* {
  box-sizing: border-box;
}
@font-face {
  font-family: bangers;
  src: url(/fuentes/Bangers.ttf);
}
body {
  background-color: #3b3e4d;
  width: 100%;
  height: 100vh;
}

nav {
  position: relative;
  z-index: 100;
}
a {
  font-family: bangers;
  font-size: 24px;
}
.nav-link {
  color: antiquewhite;
  font-size: 30px;
}

header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 0;
  z-index: 99;
  height: 100px;
  position: relative;
}
.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  z-index: 100;
  position: relative;
  background-color: #26bded;
}
#imagen {
  width: 5%;
}

section {
  border: 2px solid #5624d0;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
}
label {
  display: block;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;

  margin-bottom: 3px;
}
label:hover {
  background: #0e62f1;
}

button {
  width: 80%;
  display: block;
  margin: auto;
  padding: 10px;
  background-color: #76d7c8;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
button:hover {
  background-color: #000;
  color: white;
}
h2 {
  text-align: center;
}
#resultado {
  font-size: 30px;
  color: darkred;
}

.foot-cont {
  width: 100%;
  height: 100%;
  max-height: 200px;
  position: relative;
  z-index: 100;
  background-color: #0093e9;
  background-image: linear-gradient(
    160deg,
    #0093e9 13%,
    #80d0bd 66%,
    #ffffff 100%
  );
}
.part1 {
  display: flex;
  justify-content: space-between;
}
article {
  width: 80%;
}
article > ul {
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
article > ul > li {
  padding: 5px 0px;
}
article > ul > li > a {
  color: black;
  text-decoration: none;
  list-style: none;
}
.copy {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  background-color: gray;
  margin: 0;
  padding: 0;
}

.animator span {
  position: absolute;
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  transition: 0.9s;
}
