*{
    margin: 0px;
    padding: 0px; 
}
@font-face {
    font-family: bangers;
    src: url(./fuentes/Bangers.ttf);
}

body{
    background-color: #3B3E4D;
    width: 100%;
    height: 100vh;
    
    
}
/* imagen de inicio */
#imagen{    
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 100;  
    display: flex;
    justify-content: center; 
}
#imagen img{
    width: 500px;
    height: 100%;
    transition: 1s;
    
}
#imagen img:hover{
    transform: translateX(40%);
    filter: brightness(80%);
}
#imagen div{
    font-family: bangers ;
    font-size: 36px;

}
nav{
    position: relative;
    z-index: 100;
}
a {
    font-family: bangers;
    font-size: 24px;
}
.nav-link{
    color: antiquewhite;
    font-size: 30px;
}

button{
    border: 4px solid black;
    margin: 5px;
}

.inicio{
    display: flex;    
    justify-content:center;
    position: relative;
    z-index: 100;
}


ul{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.animator span {
    position: absolute;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    transition: 0.9s;

}
.container{
    max-width: 420px;
    max-height: 745px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px groove rgb(67, 3, 151);
    box-shadow: 5px 5px 5px rgba(51, 1, 117, 0.3);
    z-index: 100;
    
}
#result{
    text-align: center;
}
#result img{
    width: 40%;
    border: 1px solid black;
    margin: 5px;
}

#start-text{
    font-family: bangers;
    font-size: 36px;
    text-align: center;
    color: aliceblue;
    position: relative;
    z-index: 100;

}

#group-btn{
    display: flex;
    width: 90%;

}

#group-btn > button > img{
    width:90%;
    padding: 5px 5px 5px 5px;
    z-index: 100;
}
.foot-cont {
    width: 100%;
    height: 100%;
    max-height: 200px;
    position: relative; 
    z-index: 100; 
    background-color: #0093e9;
    background-image: linear-gradient(
        160deg,
        #0093e9 13%,
        #80d0bd 66%,
        #ffffff 100%
    );
  }
  .part1 {
    display: flex;
    justify-content: space-between;
  }
  article {
    width: 80%;
  }
  article > ul {
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
  }
  article > ul > li {
    padding: 5px 0px;
}
article > ul > li > a {
    color: black;
    text-decoration: none;
    list-style: none;
}
.copy {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    background-color: gray;
    margin: 0;
    padding: 0;
}


